<section class="background">
  <div class="background_overlay">
    <div class="background_overlay__inner">
      <h1 class="background_overlay__header">COCKTAILS</h1>
    </div>
    <%= link_to "", cocktails_path, class: "bkg-link" %>
  </div>
</section>
