<br>
<div class="transbox">
<div class="container">
<h1 class="text-center title"> Cocktails at your fingertips </h1>


<div class="container padded">
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 500, width: 500, crop: :fill %>');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2> <%= cocktail.name %> </h2>
        </div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
      </div>
    </div>

      <% end %>


  </div>
  <br>
</div>
</div>
</div>

